

<p>
  <strong>Topic:</strong>
  <%= @meeting.topic %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meeting.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @meeting.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @meeting.time %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Destroy', @meeting, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', meetings_path %>
